<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.horas.mapper.Album">

	<sql id="albumColumns">
        id,idMoment,photo,extension,username
        </sql>
        

	<insert id="addAlbum" parameterType="com.horas.dto.Album">
		insert into album (
			<include refid="albumColumns" />
		) values (
                        #{id,typeHandler=UUIDTypeHandler},
                        #{idMoment,typeHandler=UUIDTypeHandler},
                        #{photo,jdbcType=VARCHAR},
                        #{extension,jdbcType=VARCHAR},
                        #{username,jdbcType=VARCHAR}
                        
		)
	</insert>
        
        <insert id="insertAllPhoto" parameterType="java.util.List">
            INSERT INTO album (<include refid="albumColumns" />)  VALUES 
            <foreach collection="list" item="element" index="index" separator="," >
             (#{element.id,typeHandler=UUIDTypeHandler},#{element.idMoment,typeHandler=UUIDTypeHandler},#{element.photo,jdbcType=VARCHAR},#{element.extension,jdbcType=VARCHAR},#{element.username,jdbcType=VARCHAR})
            </foreach>
        </insert>
</mapper>
